
.container {
    margin-left:auto;
    margin-right:auto;
}

.row {
    border: #000 1px solid;
}

.col {
    height: 240px;
}

#product-comment {
    margin-top: 24px;
    margin-right: 0;
    margin-bottom: 4px;
    margin-left: 0;
}

.logo {
    font-size: 20px;
}

.sub-logo {
    font-size: 14px;
}

.header-row {
    margin-top: 40px;
}

.carousel {
    color: red;
    background-color: #666;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-caption {
      padding: 4px;
      background-color: #dedede;
      color: #000;
}

.carousel-image {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 4px;
}

.product-image {
    float: left;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    border: 1px solid #666;
    padding: 4px;
}

.product-info {
    font-size: 14px;
    margin-top: 0;
    margin-right: 20px;
    margin-bottom: 4px;
    margin-left: 0;
    line-height: 20px;
}

.product-name {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 6px;
}

.product-asin {
}

.product-price {
    font-size: 13px;
    color: #b12704;
    font-weight: 700;
}

.product-star-rating {
    margin-right: 0;
    width: 80px;
}

.product-total-ratings {
    line-height: 18px;
}

.product-author {
}

@media (min-width: 768px) {

    .container {
        width:960px;
    }

    .row {
        position: relative;
    }

    .bottom-align-text {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
